// http://ionicframework.com/docs/v2/theming/

// App Shared Imports
// --------------------------------------------------
// These are the various page imports which make up this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

//@import "../pages/search/search";
@import "../pages/dailywork/dailywork";
@import "../pages/login/login";
@import "../pages/application/application";
@import "../pages/personal/personal";
@import "../pages/guide/guide";
@import "../pages/menu/menu";

@import "../lib/handLib/hmsDirective";


@media only screen and (min-width: 300px) {
   body{
     font-size: 14px !important;
   }
}

@media only screen and (min-width: 410px) {
   body{
     font-size: 16px !important;
   }
}


@media only screen and (min-width: 641px) {
   body{
     font-size: 18px !important;
   }
}

