.daily-main {
    width: 100%;
    height: 100%;
    position: absolute;
    top: .45rem;
    background: #FAFAFA;
}
.daily-nav {
    width: 100%;
    height: 50px;
    display: flex;
    background: rgba(250,250,250,0.90);
    box-shadow: 0 0 0 0 #E3E3E3;
    font-size: 14px;
    li {
        flex: 1;
        flex-direction: row;
        color: #999;
        line-height: .5rem;
        text-align: center;
        position: relative;
        .border-bottom {
            width: 60px;
            height: 1px;
            background: #CB9120;
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -30px;
        }
    }
    .active {
        color: #CB9120;
    }
}

.daily-content {
    font-size: 12px;
    width: 100%;
    .has-header {
        top: 46px;
    }
    .search {
        width: 100%;
        height: .4rem;
        .search-left {
            width: 40%;
            select {
                margin: .05rem 1% .05rem 15%;
                height: .3rem;
                background: #FAFAFA 90%;
                border: none;
                font-size: 14px;
            }
        }
        .search-center {
            height: .2rem;
            margin: .05rem 0 .05rem 10%;
            width: 40%;
            .search-order {
                width: 100%;
                background: rgba(232,232,232,1);
                border-radius: 12px;
                input {
                    width: 95%;
                    background: url("../img/Mask.png") no-repeat 12px 10px;
                    background-size: 14px 14px;
                    font-size: 14px;
                    color: #6F6F6F;
                    letter-spacing: 0;
                }
            }
        }
        .search-right {
            width: 100%;
            height: .4rem;
            overflow: hidden;
            div {
                margin-left: 8%;
                font-size: 14px;
                color: #9C9C9C;
                letter-spacing: -0.39px;
                line-height: .4rem;
            }
        }
    }
}
.search > div {
    line-height: .4rem;
    float: left;
}


.daily-order {
    width: 96%;
    margin: 5px auto 15px;
    background: #FFFFFF;
    /*box-shadow: 0 2px 2px 0 rgba(234,234,234,0.50);*/
    border-radius: 4px;
    overflow: hidden;
    font-size: 14px;
    .checkimg {
        position: relative;
        img {
            position: absolute;
            float: left;
            margin-top: 0.03rem;
            margin-left: 10px;
            margin-right: 10px;
            width: 20px;
            height: 20px;
        }
        .check {
            width: 20px;
            height: 20px;
            position: absolute;
            top: 0.03rem;
            left: 10px;
            opacity: 0;
        }
    }
    .order-coding > div {
        height: 50%;
        line-height: 0.17rem;
        text-align: center;
        white-space:nowrap;
        overflow: hidden;
    }
    .order-coding {
        width: 25%;
        height: 100%;
        .code{
            margin-left: 35px;
        }
        .order-input {
            position: relative;
            img {
                float: left;
                margin-top: 0.05rem;
                margin-left: 20px;
                margin-right: 15px;
                width: 25px;
                height: 25px;
            }
            .check {
                width: 25px;
                height: 25px;
                position: absolute;
                top: 13px;
                left: 20px;
                opacity: 0;
            }
        }
    }
   
    .order-name {
        width: 45%;
        height: 100%;
        div {
            width: 100%;
            height: 50%;
            line-height: 0.17rem;
            text-align: center;
            color: #2f2f2f;
            overflow: hidden;
        }
    }
    .order-model {
        width: 20%;
        height: 100%;
    }
    .order-model > div {
        width: 100%;
        height: 50%;
        line-height: 0.17rem;
        text-align: center;
        font-size: 18px;
        color: #2f2f2f;
    }
    .order-num {
        width: 10%;
        height: 100%;
        input {
            width: 90%;
            height: 28px;
            text-align: center;
            background: #FFFFFF;
            border: 1px solid #E1E1E1;
            border-radius: 4px;
        }
    }
    .order-num > div {
        width: 100%;
        height: 50%;
        line-height: 0.17rem;
        text-align: center;
        color: #2f2f2f;
        overflow: hidden;
    }
}

.fl {
    float: left;
}

.submit {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 17px;
    color: #CB9120;
    letter-spacing: -0.41px;
    line-height: 17px;
}

.search-content {
    position: fixed;
    z-index: 888;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0 1px 1px 0 rgba(234,234,234,0.50);
    margin-bottom: 10px;
    .search-inp {
        margin-top: .6rem;
        width: 100%;
        height: 2.4rem;
    }
    .time {
        float: left;
        width: 100%;
        height: 0.4rem;
        line-height: 0.4rem;
        border-bottom: 1px solid #d7d7d7;
        font-size: 14px;
        .time-div{
            float: right;
            width: 70%;
            input{
                float: left;
                width: 85%;
                height: 0.39rem;
                line-height: 0.39rem;
                font-size: 14px;
                color: #C7C7C7;
                letter-spacing: 0;
                text-align: center;
            }
            .date-i {
                width: 15%;
                height: .4rem;
                float: right;
            }
            .date-icon{
                background: url("../img/Date.png") no-repeat center;
                background-size: 0.15rem 0.15rem;
            }
        }
        .time-input{
            float:right;
            margin-right: .10rem;
            width: 74%;
            height: 0.39rem;
            line-height: 0.39rem;
            font-size: 14px;
            color: #C7C7C7;
            letter-spacing: 0;
            text-align: center;
        }
        ::-webkit-input-placeholder{
            text-align: right;
        }
        .input-title {
            float: left;
            display: table;
            width: 20%;
            border-right: 0px solid #d7d7d7;
            text-align: center;
            font-size: 14px;
            color: #2F2F2F;
            letter-spacing: 0;
        }
    }

    .btn-search {
        width: 2.8rem;
        height: 40px;
        line-height: 40px;
        margin: 20px auto;
        background: #E2B660;
        border-radius: 20px;
        text-align: center;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: -0.19px;
        img {
            width: 20px;
            height: 20px;
            margin-top: 10px;
            margin-left: 37%;
            margin-right: 15px;
            float: left;
        }
    }
}

.popup-container .popup{
    width: 500px;
}
