.main-logo{
  width: 100%;
  top: .45rem;
  .logo-img{
    width: .9rem;
    height: .9rem;
    margin: .3rem auto;
    img{
      width: 100%;
    }
  }
}

.main-all>div{
  height: .4rem;
  margin: 40px auto;
  background: #FFFFFF;
  box-shadow: 0 2px 2px 0 rgba(234,234,234,0.50);
  font-size: 14px;
}
.version{
  text-indent: .2rem;
  font-size: 20px;
  color: #030303;
  letter-spacing: 0;
  line-height: .4rem;
  .version-num{
    float: right;
    margin-right: .15rem;
  }
}

.exitLogin{
  text-indent: .2rem;
  color: #030303;
  letter-spacing: 0;
  line-height: .4rem;
  font-famaly:'PingFangSC-Regular';
}
